@media only screen and (max-width: 600px) {

    /* loader */
    .loader {
        padding: 10vw;
    }

    .loader_ctn_top h3 {
        font-size: 2.5vmax;
    }

    .loader_ctn_top small {
        font-size: 1.7vmax;
    }

    .my_name {
        font-size: 4vmax;
    }

    .loader_text {
        font-size: 2.5vmax;
    }

    .loader_gif img {
        height: 75px;
    }

    /* .navigation */

    .navigation {
        display: none;
    }

    /* nav */

    span {
        font-size: 3.8vmax;
    }

    span::before {
        font-size: 3.8vmax;
    }

    #menubtn {
        font-size: 3.1vmax;
        display: flex;
        color: #ff004f;
    }

    /* menuoverlay */

    #menucross {
        position: absolute;
        top: 5%;
        left: 5%;
        font-size: 3vmax;
        cursor: pointer;
        color: white;
        font-size: 5vmax;
    }

    .menuOverlay ul {
        padding: 2vw;
    }

    .menuOverlay ul .menu-list {
        margin: 3vmax 0;
    }

    .menuIcons {
        font-size: 3vmax;
        padding: 2vh 4vw;
        margin-right: 3vmax;
    }

    .menu-text {
        font-size: 2.5vmax;
    }

    /* /* page_1/ */

    #page_1 {
        display: flex;
        flex-direction: column;
    }

    /* pg_1-left */
    .pg_1-left {
        min-height: fit-content;
        width: 100vw;
        padding: 30vw 5vw 10vw 10vw;
    }

    .mini_heading {
        font-size: 1.7vmax;
    }

    .pg_1-left_itm {
        font-size: 2.8vmax;
    }

    #profilename {
        font-size: 4.5vmax;
    }

    .rowInBtn {
        margin-top: 7vmax;
    }

    .pg_1-left_btn {
        padding: 1.3vh 3vw;
        font-size: 1.5vmax;
        margin-right: 1vmax;
    }

    .pg_1-left_btn_2 {
        padding: 1.3vh 3vw;
        font-size: 1.5vmax;
    }

    /* pg_1-right */
    .pg_1-right {
        min-height: fit-content;
        width: 100vw;
        padding: 8vw 6vw;
    }

    .pg_1-right_container {
        width: 38vmax;
        height: 38vmax;
    }

    .pg_1-right_container .right_container_icons .imgBx {
        height: 45px;
        width: 45px;
        transform-origin: 22.5vmax;
    }

    .content::before {
        inset: 40px;
    }

    .content::after {
        inset: 58px;
    }

    .profile-img {
        height: 16vmax;
        width: 16vmax;
    }

    /* /page_2 */

    #page_2 {
        flex-direction: column-reverse;
    }

    /* .pg_2_left */
    .pg_2_left {
        min-height: fit-content;
        width: 100vw;
        align-items: center;
        justify-content: center;
    }

    .About_img {
        height: 49vmax;
        width: 34vmax;
    }

    /* .pg_2_right */
    .pg_2_right {
        min-height: 72vh;
        width: 100vw;
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: column;
        padding: 3vw 8vw;
    }

    .pg_2_right h1 {
        font-size: 3.5vmax;
        margin-bottom: 1.3vmax;
    }

    .pg_2_right p {
        font-size: 1.7vmax !important;
        width: 97%;
        margin-bottom: 1.3vmax;
    }

    #cert-link {
        font-size: 2.2vmax !important;
    }

    #achiv-link {
        font-size: 2.2vmax !important;
    }

    #educ-link {
        font-size: 2.2vmax !important;
    }

    .tab-links::after {
        height: 4px;
    }

    .tab-links.active-links::after {
        width: 100%;
    }

    .tab-contents {
        padding: 1vw;
    }

    .tab-contents ul a {
        margin: 1vmax 0;
        font-size: 3vmax;
    }

    .tab-contents ul a li {
        margin-top: 1vmax;
        font-size: 2vmax;
    }

    .tab-contents ul li {
        font-size: 2.5vmax;
    }

    .tab-contents ul li span {
        font-size: 1.6vmax;
        margin: 1vmax 0;
    }

    .tab-contents ul a i {
        font-size: 2.5vmax;
    }

    /* page_3 */

    #page_3 {
        min-height: fit-content;
        flex-direction: column;
        justify-content: space-between;
        position: relative;
        padding: 15vw 10vw;
    }

    /* pg_3_heading */

    .pg_3_heading {
        margin-bottom: 3vmax;
    }

    .pg_3_heading h1 {
        font-size: 4vmax;
    }

    .pg_3_heading h1 span {
        font-size: 5vmax;
    }

    .pg_3_heading small {
        font-size: 1.8vmax;
    }

    /* pg_3_mid */

    .pg_3_mid {
        height: 50vmax;
        width: 82vw;
        padding: 0;
        margin-bottom: 5vmax;
    }

    .pg_3_mid h1 {
        top: 25%;
        left: -4vmax;
        font-size: 4vmax;
    }

    .pg_3_mid .img_container {
        height: inherit;
        flex-wrap: wrap;
        justify-content: center;
    }

    .img_container img {
        margin: 0 1vmax !important;
    }

    .img_container .img_1 {
        height: 58px;
    }

    .img_container .img_2 {
        height: 58px;
    }

    .img_container .img_3 {
        height: 58px;
    }

    .img_container .img_4 {
        height: 58px;
    }

    .img_container .img_5 {
        height: 43px;
    }

    .img_container .img_6 {
        height: 33px;
    }

    .img_container .img_7 {
        height: 43px;
    }

    .img_container .img_8 {
        height: 33px;
    }


    .pg_3_bottom {
        height: 20vmax;
        width: 82vw;
        padding: 0;
    }

    .pg_3_bottom h1 {
        top: 33%;
        right: -3vmax;
        font-size: 4vmax;
    }

    .pg_3_bottom .img_container {
        height: inherit;
        flex-wrap: wrap;
    }

    /* page_4 */

    #page_4 {
        min-height: 100vh;
        padding: 5vw 10vw;
    }

    /* pg_4_heading */

    .pg_4_heading h1 {
        font-size: 4vmax;
    }

    .pg_4_heading h1 span {
        font-size: 5vmax;
    }

    .pg_4_heading small {
        font-size: 1.6vmax;
    }

    .card {
        width: 45vh;
        height: 53vh;
    }

    .card_content_wrapper h1 {
        font-size: 3.3vmax;
        white-space: wrap;
        margin-bottom: 2vmax;
    }

    .card_content_wrapper p {
        font-size: 1.8vmax;
        margin-bottom: 2vmax;
        width: 70%;
    }

    .card_content_wrapper a {
        padding: 1vmax 2vmax;
        font-size: 1.8vmax;
    }

    /* page_5 */

    #page_5 {
        min-height: fit-content;
        width: 100vw;
        position: relative;
        padding: 1vw 10vw;
    }

    /* page_5_heading */

    .page_5_heading h1 {
        font-size: 3.5vmax;
    }

    .Dot {
        font-size: 5vmax;
    }

    .page_5_bottom_content_wrapper {
        margin-top: 5.5vmax;
        justify-content: center;
    }

    .page_5_bottom_content_wrapper .box {
        height: 34vmax;
        width: 41vmax;
        margin: 2vmax 0;
    }

    .innerBox {
        justify-content: space-evenly;
        padding: 2vw;
    }

    .innerBox img {
        height: 48px;
        border-radius: 50%;
    }

    .innerBox h2 {
        font-size: 2vmax;
    }

    .innerBox p {
        font-size: 1.6vmax;
    }

    .innerBox a {
        padding: 1.3vmax 2.3vmax;
        font-size: 1.5vmax;
    }

    /* page_6 */

    /* page_6 */

    #footer {
        min-height: 70vh;
        width: 100vw;
        padding: 9vw 10vw;
    }

    .footer_bottom {
        flex-direction: column;
    }

    /* footer_heading */

    .footer_heading h1 {
        font-size: 3.5vmax;
    }

    .line {
        margin: 1.6vmax 0;
    }

    .line a i {
        font-size: 2.6vmax;
    }

    .line a span {
        font-size: 1.8vmax;
    }

    /* footer_left */

    .footer_left {
        width: 100vw;
    }

    .line2 i {
        font-size: 2.6vmax;
    }

    .line2 span {
        font-size: 1.8vmax;
    }

    .line4 a {
        padding: 1.3vmax 2.5vmax;
        font-size: 1.6vmax;
    }

    .footer_right {
        width: 100vw;
    }

    .footer_right ul li {
        font-size: 2.5vmax;
    }

    /* .End_txt */

    .End_txt small {
        font-size: 5vmax;
        letter-spacing: 1.5px;
        margin-top: 2vmax;
    }

    .cursor {
        display: none;
    }

}